html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
    background-image: url("img/background.jpg");
    background-attachment: fixed;
    margin: 0;
    overflow-y: scroll;
    box-sizing: inherit;
    padding-bottom: 13%;
}

.clear { clear: both;}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

nav {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    z-index: 1;
}

.navbox {
    background-color: blanchedalmond;
    height: 50px;
    width: 20%;
    border: 1px solid black;
    border-radius: 0px 0px 10px 10px;
    color: black;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding: 14px 16px;
}

.navbox:hover {
    background-color: coral;
}

.spacer {
  margin-top: 200px;
}

.about {
    background-color: peachpuff;
    margin: auto;
    border: 3px outset black;
    border-color: grey;
    border-radius: 20px;
    box-shadow: 5px 5px;
    padding: 30px;
    height: auto;
    width: 70%;
    position: relative;
    z-index: -1;
}
.pupper {
    width: 300px;
    height: auto;
    float:  left;
    margin-right: 20px;
    border-radius: 10px;
    object-fit: contain;
}
.floatimg {
    width: 100px;
    height: auto;
    position: absolute;
    top: -40px;
    right: 10px;
    z-index: 1;
}
footer {
    background-color: blanchedalmond;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    padding: 10px 0px;
    text-align: center;
}
